// Colours stylesheet by Ash England-Elbro https://github.com/TheGoldKnight23
light-grey = #3c3c3c // Light grey colour
tarkalian-pink = #cb31bc
romano-violet = #6041a7
dusty-silk-grey = #393933

placid-blue = #3C6478
light-placid-blue = #74b2c7

seline-smoke = #c7cabf
tilliumn-silver = #c4b9b9

edible-blue = #AACCFF
dark-edible-blue = #384873
electron-blue = #2A61FF