@require "../colours.styl"

.header_text {
  margin-left 0
  margin-right 0
  margin-bottom: 5px;
  margin-top 0;
  padding-top 10px
  color tilliumn-silver
}

.header_bar_container {
  background-color light-grey
  border-bottom: 4px solid cadetblue;
  margin 0
  display: flex
  opacity 1
  padding 0
  flex-direction column
  justify-content space-between
  width 100%
  position: fixed;
  z-index 1000 // Rediculusly high because bootstrap

  .head_bar_upper {
    
    padding-left 30px
    padding-right 30px  
    
  }
  .header_bar_inner {
    display flex
    flex-direction row
    justify-content space-between
    position relative

    height 100%
    padding-bottom 3px

    a:active, a:focus {
      outline: 0;
      border: none;
      -moz-outline-style: none;
    }

    a {
      text-decoration: none;
      height 100%
      position relative
      background none
      border none
      margin 0 8px 0 8px
      color seline-smoke
      border-radius 3px
      background-color transparent
    }
    a:hover {
      //background dark-violet
      border-radius 5px
      transform scale(1.1)
    }

    a:after {
      display block
      content ' '
      border-bottom 3px solid light-placid-blue
      transform scaleX(0)
      transition transform 250ms ease-in-out
    }
    a:hover:after {
      transform scaleX(1)
    }

  }
}


.menu_btn {
  color black
}

#title_container {
  @media only screen and (max-width 600px) {
    display none
    height 0
    width 0
    margin 0
    padding 0
  }
}


